@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Robert Nelson";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:nelsonr5@go.stockton.edu">nelsonr5@go.stockton.edu</a><br />
</address>